{% extends "base.html" %}
{% load static %}
{% block content %}


<div style="padding-bottom: 150px;"></div>
  <!-- ======= On Focus Section ======= -->
  <section id="onfocus" class="onfocus">

    <div class="container-fluid p-0" data-aos="fade-up">
      <!-- <div class="col-lg-30 col-30 text-center">
        <h2 class="mb-lg-5 mb-4">Decouvrez Samantha Fodjo</h2>
      </div> -->
      <div class="container">
        <h3 class="text-center section-subheading"  style="margin-top: 25px;">- Publiez par -</h3>
        <h1 class="text-center section-heading">{{actualite.auteur}}</h1>
      </div>
      <div class="row g-0">
        <div class="col-lg-6 video-play position-relative">
          <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
          <img src="{{actualite.profile_image.url}}" class="img-flui" alt="">
        </div>
        <div class="col-lg-6">
          <div class="content d-flex flex-column justify-content-center h-100">
            <h3> <span style="text-decoration: underline;">{{actualite.titre}}</span></h3>
            <p class="fst-italic">
              {{actualite.description}}
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> date : {{actualite.date}}</li>
              <li><i class="bi bi-check-circle"></i> auteur : {{actualite.auteur}}</li>
              <li><i class="bi bi-check-circle"></i> Numero whatsapp: +237 678933931</li>
            </ul>
            
        </div>
      </div>

    </div>

  </section><!-- End On Focus Section -->



{% endblock %}
        