{% extends "base.html" %}
{% load static %}
{% block content %}

<div style="padding-bottom: 150px;"></div>
  <!-- ======= On Focus Section ======= -->
  <section>
    <div class="container">
      <h3 class="text-center section-subheading">- Casting Douala -</h3>
      <!-- <h1 class="text-center section-heading">Galerie Photo</h1> -->
    </div>
    <div class="post__image" data-set="{{post.id}}">
      <div class="img-contain">
          

              <div class="itemz">
                  <img  src="{% static 'images/casting/casting1.jpg' %}">
              </div>

            <div class="itemz">
                <img  src="{% static 'images/casting/casting2.jpg' %}">
            </div>

            <div class="itemz">
              <img  src="{% static 'images/casting/casting3.jpg' %}">
            </div>

            <div class="itemz">
                <img  src="{% static 'images/casting/casting4.jpg' %}">
              </div>

              <div class="itemz">
                <img  src="{% static 'images/casting/casting5.jpg' %}">
              </div>

              <div class="itemz">
                <img  src="{% static 'images/casting/casting6.jpg' %}">
              </div>

              <div class="itemz">
                <img  src="{% static 'images/casting/casting7.jpg' %}">
              </div>


         
      </div>
  </div>
  
  </section>

  <section>
    <div class="container">
      <h3 class="text-center section-subheading">- Finale -</h3>
      <!-- <h1 class="text-center section-heading">Galerie Photo</h1> -->
    </div>
    <div class="post__image" data-set="{{post.id}}">
      <div class="img-contain">
          

              <div class="itemz">
                  <img  src="{% static 'images/finale/finale1.jpg' %}">
              </div>

              <div class="itemz">
                <img  src="{% static 'images/finale/finale2.jpg' %}">
            </div>

            <div class="itemz">
                <img  src="{% static 'images/finale/finale3.jpg' %}">
            </div>

            <div class="itemz">
                <img  src="{% static 'images/finale/finale4.jpg' %}">
            </div>

            <div class="itemz">
                <img  src="{% static 'images/finale/finale5.jpg' %}">
            </div>

            
         
      </div>
  </div>
  
  </section>

   
</section>

<section>
  <div class="container">
    <h3 class="text-center section-subheading">- Shooting -</h3>
    <!-- <h1 class="text-center section-heading">Galerie Photo</h1> -->
  </div>
  <div class="post__image" data-set="{{post.id}}">
    <div class="img-contain">
        

            <div class="itemz">
                <img  src="{% static 'images/shooting/shooting1.jpg' %}">
            </div>

            <div class="itemz">
                <img  src="{% static 'images/shooting/shooting2.jpg' %}">
            </div>

            <div class="itemz">
                <img  src="{% static 'images/shooting/shooting3.jpg' %}">
            </div>

            <div class="itemz">
                <img  src="{% static 'images/shooting/shooting4.jpg' %}">
            </div>

            <div class="itemz">
                <img  src="{% static 'images/shooting/shooting5.jpg' %}">
            </div>

            
    </div>
</div>

</section>


{% endblock %}
        