{% extends "base.html" %}
{% load static %}
{% block content %}


<div style="padding-bottom: 150px;"></div>
  <!-- ======= On Focus Section ======= -->
  <section id="onfocus" class="onfocus">

    <div class="container-fluid p-0" data-aos="fade-up">
      <!-- <div class="col-lg-30 col-30 text-center">
        <h2 class="mb-lg-5 mb-4">Decouvrez Samantha Fodjo</h2>
      </div> -->
      <div class="container">
        <h3 class="text-center section-subheading"  style="margin-top: 25px;">- Votez pour -</h3>
        <h1 class="text-center section-heading">{{candidate.nom}} {{candidate.prenom}}</h1>
      </div>
      <div class="row g-0">
        <div class="col-lg-6 video-play position-relative">
          <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
          <img src="{{candidate.profile_image.url}}" class="img-flui" alt="">
        </div>
        <div class="col-lg-6">
          <div class="content d-flex flex-column justify-content-center h-100">
            <h3>Nombre de Votes actuels <span style="text-decoration: underline;">{{candidate.nombreVote}}</span></h3>
            <p class="fst-italic">
              {{candidate.projet}}
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Nom & Prenom : {{candidate.nom}} {{candidate.prenom}}</li>
              <li><i class="bi bi-check-circle"></i> Age : {{candidate.age}}</li>
              <li><i class="bi bi-check-circle"></i> Numero : {{candidate.numero}} </li>
            </ul>
            <div style="text-align: center; align-items: center; justify-content: center;">

                <form class="custom-form member-login-form" action="{% url 'votez' candidate.id %}" method="POST" role="form">
                    {% csrf_token %}
                    <div class="member-login-form-body">
                        

                        <div class="mb-4">
                            <label class="form-label mb-2" for="member-login-password">Nombre de Vote</label>

                            <input type="number" name="nbVote" id="member-login-password"  class="form-control" placeholder="(1vote = 100francs) Entrez le nombre de votes" required>
                        </div>

                        <div class="mb-4">
                            <label class="form-label mb-2" for="member-login-password">Nom</label>

                            <input type="text" name="nom" id="member-login-password"  class="form-control" placeholder="Entrez votre nom" required>
                        </div>

                        <div class="mb-4">
                            <label class="form-label mb-2" for="member-login-password">Telephone</label>

                            <input type="text" name="telephone" id="member-login-password"  class="form-control" placeholder="Entrez votre numero de telephone" required>
                        </div>

                        

                        <div class="col-lg-5 col-md-7 col-8 mx-auto">
                            <button type="submit" class="form-control">Votez pour moi</button>
                        </div>

                        
                    </div>
                </form>

                
          </div>
        </div>
      </div>

    </div>

  </section><!-- End On Focus Section -->



{% endblock %}
        